* groupBy
* agg

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [6]:
df_pyspark = spark.read.csv("test.csv", header=True, inferSchema=True)

In [7]:
df_pyspark.show()

+------+------------+------+
|  Name|  Department|Salary|
+------+------------+------+
|   Ali|Data Science| 30000|
|   Ali|         IOT| 25000|
| Fatma|    Big Data| 59994|
|Mehmet|Data Science| 13231|
|  Ayse|Data Science| 93211|
| Harun|         IOT| 13231|
+------+------------+------+

In [12]:
# Groupby
df_pyspark.groupBy("Name").sum().show() # department is gone because you can't
#                                         sum strings

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|Mehmet|      13231|
| Harun|      13231|
|  Ayse|      93211|
| Fatma|      59994|
|   Ali|      55000|
+------+-----------+

In [16]:
# grouby department (to find average salary)
df_pyspark.groupBy("Department").mean().show()

+------------+------------------+
|  Department|       avg(Salary)|
+------------+------------------+
|         IOT|           19115.5|
|    Big Data|           59994.0|
|Data Science|45480.666666666664|
+------------+------------------+

In [20]:
# aggregate (max, min, avg, sum, etc..)
df_pyspark.agg({"Salary":"max"}).show()

+-----------+
|max(Salary)|
+-----------+
|      93211|
+-----------+