* Inferschema (datatype option)
* Select columns
* See dtype
* See description
* Add, drop, rename columns

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [3]:
spark

In [4]:
# Read dataset
df_pyspark = spark.read.csv("test.csv", header=True, inferSchema=True)


df_pyspark.show()
df_pyspark.printSchema()
type(df_pyspark)

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|  Ali| 20|         4|
| Veli| 25|         8|
|Fatma| 35|        10|
+-----+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

pyspark.sql.dataframe.DataFrame

In [8]:
print(df_pyspark.columns)
df_pyspark.head(3)

['Name', 'Age', 'Experience']

[Row(Name='Ali', Age=20, Experience=4),
 Row(Name='Veli', Age=25, Experience=8),
 Row(Name='Fatma', Age=35, Experience=10)]

In [10]:
# select column
df_pyspark.select("Name").show()

+-----+
| Name|
+-----+
|  Ali|
| Veli|
|Fatma|
+-----+

In [11]:
# select multiple columns
df_pyspark.select(["Name","Experience"]).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|  Ali|         4|
| Veli|         8|
|Fatma|        10|
+-----+----------+

In [13]:
type(df_pyspark["Name"]) # you cant .show() this, this is a column object

pyspark.sql.column.Column

In [14]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [17]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [18]:
df_pyspark.describe().show()

+-------+----+------------------+------------------+
|summary|Name|               Age|        Experience|
+-------+----+------------------+------------------+
|  count|   3|                 3|                 3|
|   mean|NULL|26.666666666666668| 7.333333333333333|
| stddev|NULL| 7.637626158259733|3.0550504633038935|
|    min| Ali|                20|                 4|
|    max|Veli|                35|                10|
+-------+----+------------------+------------------+

In [20]:
# adding column
df_pyspark = df_pyspark.withColumn("Experience After 2 years", (df_pyspark["Experience"]+2))
df_pyspark.show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience After 2 years|
+-----+---+----------+------------------------+
|  Ali| 20|         4|                       6|
| Veli| 25|         8|                      10|
|Fatma| 35|        10|                      12|
+-----+---+----------+------------------------+

In [21]:
# drop column
df_pyspark = df_pyspark.drop("Experience After 2 years")
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|  Ali| 20|         4|
| Veli| 25|         8|
|Fatma| 35|        10|
+-----+---+----------+

In [22]:
# Rename column
df_pyspark = df_pyspark.withColumnRenamed("Name","First Name")
df_pyspark.show()

+----------+---+----------+
|First Name|Age|Experience|
+----------+---+----------+
|       Ali| 20|         4|
|      Veli| 25|         8|
|     Fatma| 35|        10|
+----------+---+----------+