* Fill missing values with;
* * Null=>"Missing" or 0
* * Null=> Mean, median etc.

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [24]:
df_pyspark = spark.read.csv("test.csv", header=True, inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [4]:
# drop null rows
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ali| 20|         4| 30000|
|  Veli| 25|         8| 25000|
| Fatma| 35|        10| 59994|
|Mehmet| 31|         4| 13231|
|  Ay?e| 21|         9| 93211|
+------+---+----------+------+

In [5]:
# how=any is default, option: all
df_pyspark.na.drop(how="all").show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Ali|  20|         4| 30000|
|  Veli|  25|         8| 25000|
| Fatma|  35|        10| 59994|
|Mehmet|  31|         4| 13231|
|  Ay?e|  21|         9| 93211|
| Harun|NULL|      NULL| 12312|
|  NULL|  52|         7|123123|
|  NULL|  42|      NULL|  NULL|
+------+----+----------+------+

In [6]:
# threshold (at least two null values should be present)
df_pyspark.na.drop(how="any",thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Ali|  20|         4| 30000|
|  Veli|  25|         8| 25000|
| Fatma|  35|        10| 59994|
|Mehmet|  31|         4| 13231|
|  Ay?e|  21|         9| 93211|
| Harun|NULL|      NULL| 12312|
|  NULL|  52|         7|123123|
+------+----+----------+------+

In [7]:
# subset (remove if experience null)
df_pyspark.na.drop(how="any", subset=["Experience"]).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ali| 20|         4| 30000|
|  Veli| 25|         8| 25000|
| Fatma| 35|        10| 59994|
|Mehmet| 31|         4| 13231|
|  Ay?e| 21|         9| 93211|
|  NULL| 52|         7|123123|
+------+---+----------+------+

In [23]:
# Filling the missing values
df_pyspark.na.fill('Missing').show() # String fills only fills string
df_pyspark.na.fill(0).show() # Filling with int only fills int

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|    Ali| 20|         4| 30000|
|   Veli| 25|         8| 25000|
|  Fatma| 35|        10| 59994|
| Mehmet| 31|         4| 13231|
|   Ay?e| 21|         9| 93211|
|  Harun|  0|         0| 12312|
|Missing| 52|         7|123123|
|Missing| 42|         0|     0|
+-------+---+----------+------+

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|    Ali| 20|         4| 30000|
|   Veli| 25|         8| 25000|
|  Fatma| 35|        10| 59994|
| Mehmet| 31|         4| 13231|
|   Ay?e| 21|         9| 93211|
|  Harun|  0|         0| 12312|
|Missing| 52|         7|123123|
|Missing| 42|         0|     0|
+-------+---+----------+------+

In [25]:
# Filling the missing values in specific column
df_pyspark.na.fill("Missing Name", "Name").show()

+------------+----+----------+------+
|        Name| Age|Experience|Salary|
+------------+----+----------+------+
|         Ali|  20|         4| 30000|
|        Veli|  25|         8| 25000|
|       Fatma|  35|        10| 59994|
|      Mehmet|  31|         4| 13231|
|        Ay?e|  21|         9| 93211|
|       Harun|NULL|      NULL| 12312|
|Missing Name|  52|         7|123123|
|Missing Name|  42|      NULL|  NULL|
+------------+----+----------+------+

In [26]:
# impurter function (fill with mean) (also: median, maybe more)
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["Age", "Experience", "Salary"],
    outputCols=["{}_imputed".format(c) for c in ["Age","Experience","Salary"]]
    ).setStrategy("mean")

In [27]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|   Ali|  20|         4| 30000|         20|                 4|         30000|
|  Veli|  25|         8| 25000|         25|                 8|         25000|
| Fatma|  35|        10| 59994|         35|                10|         59994|
|Mehmet|  31|         4| 13231|         31|                 4|         13231|
|  Ay?e|  21|         9| 93211|         21|                 9|         93211|
| Harun|NULL|      NULL| 12312|         32|                 7|         12312|
|  NULL|  52|         7|123123|         52|                 7|        123123|
|  NULL|  42|      NULL|  NULL|         42|                 7|         50981|
+------+----+----------+------+-----------+------------------+--------------+