* Filter Operation
* Complex conditions
* Not

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [3]:
df_pyspark = spark.read.csv("test.csv", header=True, inferSchema=True)
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ali| 20|         4| 30000|
|  Veli| 25|         8| 25000|
| Fatma| 35|        10| 59994|
|Mehmet| 31|         4| 13231|
|  Ayse| 21|         9| 93211|
| Harun| 52|         7| 12312|
+------+---+----------+------+

In [4]:
# Filter
## Salary less then 30000
df_pyspark.filter("Salary<=30000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ali| 20|         4| 30000|
|  Veli| 25|         8| 25000|
|Mehmet| 31|         4| 13231|
| Harun| 52|         7| 12312|
+------+---+----------+------+

In [5]:
df_pyspark.filter("Salary<=30000").select(["Name","Age"]).show()

+------+---+
|  Name|Age|
+------+---+
|   Ali| 20|
|  Veli| 25|
|Mehmet| 31|
| Harun| 52|
+------+---+

In [6]:
df_pyspark.filter(df_pyspark["Salary"]<=30000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Ali| 20|         4| 30000|
|  Veli| 25|         8| 25000|
|Mehmet| 31|         4| 13231|
| Harun| 52|         7| 12312|
+------+---+----------+------+

In [8]:
df_pyspark.filter((df_pyspark["Salary"]<=30000) & (df_pyspark["Age"] > 30)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Mehmet| 31|         4| 13231|
| Harun| 52|         7| 12312|
+------+---+----------+------+

In [9]:
# not operation
df_pyspark.filter(~(df_pyspark["Salary"]<=30000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Fatma| 35|        10| 59994|
| Ayse| 21|         9| 93211|
+-----+---+----------+------+